@using Eggbox.Models
@using Eggbox.Services

@inject MixerIO IO
@inject Mixer Mixer
@inject NavigationManager Nav

<div class="relative p-3 rounded-2xl overflow-hidden bg-white/30 backdrop-blur-sm border border-gray-100/60
            transition-transform duration-200 ease-in-out
            @(isAnimating ? "scale-95 opacity-70" : "scale-100 opacity-100")"
     @onclick="SelectAsync">

    <div class="transition-opacity duration-300 flex gap-10 items-center w-full">
        <div class="grow">
            <div class="font-semibold text-white">IP: @MixerInfo.IpAddress</div>
            <div class="text-sm text-gray-200">@MixerInfo.MixerType</div>
        </div>
        <div class="items-center flex gap-1">
            <i class="text-2xl fas fa-circle-play"></i>
            <span class="font-medium text-sm">Connect</span>
        </div>
    </div>
</div>

@code {
    [Parameter] public MixerInfo MixerInfo { get; set; } = default!;
    [Parameter] public EventCallback<MixerInfo> OnSelected { get; set; }

    private bool isAnimating;

    private async Task SelectAsync()
    {
        if (isAnimating)
            return;

        isAnimating = true;
        StateHasChanged();

        await Task.Delay(200);

        await OnSelected.InvokeAsync(MixerInfo);

        isAnimating = false;
    }
    
}