@attribute [Route(Routes.Band)]
@using Eggbox.Services
@using Eggbox.Exntensions
@inject MixerConnectorService Connector
@if (Connector.ConnectedMixerIp.HasValue)
{
    <RedirectToScanner />
}
<h1 class="text-2xl font-bold mb-4">Band instellingen</h1>

<p>Verbonden met: <strong>@Connector.ConnectedMixerIp.Render()</strong></p>


@code {
    private void RedirectToScanner()
    {
        NavManager.NavigateTo(Routes.MixerScanner, true);
    }
}