@attribute [Route(Routes.Band)]
@using Eggbox.Services
@using Eggbox.Extensions
@inject MixerConnectorService Connector
@if (!Connector.ConnectedMixerIp.HasValue)
{
    NavManager.NavigateTo(Routes.Home, true);
}

<div>
   
</div>


@code {
   
}