@page "/"

<section class="container mx-auto max-w-[95vw]">
    <h1 class="text-red-500 text-xl font-semibold tracking-wide">MIXING INTERFACE</h1>
    
    <p class="mt-4 text-gray-600">
        Welcome to your mixing app.
    </p>
</section>